@font-face {
  font-family: InriaSans;
  src: url(./assets/fonts/InriaSans-Regular.ttf);
}
.text-inria {
  font-family: InriaSans;
}

@font-face {
  font-family: BlackHanSans;
  src: url(./assets/fonts/BlackHanSans-Regular.ttf);
}

.text-BlackHanSans {
  font-family: BlackHanSans;
}
