@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding-top: 4rem;
  font-family: InriaSans;
}

html {
  scroll-behavior: smooth;
}

.animate-1 {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(18), cursor 0.4s step-end infinite alternate;
}

/* cursor blinking */
@keyframes cursor {
  50% {
    border-color: transparent;
  }
}
